// Font sizes
$font-size-lg: 1.75rem;
$font-size-md: 1.375rem;
$font-size-normal: 1rem;


// Heading sizes
$heading-xl: 3rem;
$heading-lg: 2rem;
$heading-md: 1.5rem;
$heading-sm: 1rem;

// Colors

// Dark grey shades
$DG100: #484848;
$DG200: #838383;
$DG300: #D2D2D2;

// Carbon shades
$C100: #252321;
$C200: #1D1817;
$C300: #333333;