body{
    background: #2b2b2b;
}

hr {
    border-color: #ededed;
}

p, h1, h2, h3, li, a {
    color: #c9c9c9;
}


/*
The following Styles are for the navbar
*/

.content_nav{
    background-color: #2b2b2b;
    box-shadow: 0 12px 5px -5px #333333;  
}

.list{
    background-color: #2b2b2b;
    box-shadow: 0 12px 5px -5px #333333;
}

.list a {
    color: #c9c9c9;
}

.list .home_list {
    box-shadow:  5px 5px 10px #292929, 
             -5px -5px 10px #2d2d2d;
}

.menu{
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;
}

.menu:hover{
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;
}

.about_me{
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;
}

.about_me:active{
    background: #2b2b2b;
    box-shadow: inset 4px 4px 9px #232323, 
                inset -4px -4px 9px #333333
}

.skills{
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;
}

.skills:active{
    background: #2b2b2b;
    box-shadow: inset 4px 4px 9px #232323, 
                inset -4px -4px 9px #333333
}

.portfolio{
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;
}

.portfolio:active{
    background: #2b2b2b;
    box-shadow: inset 4px 4px 9px #232323, 
                inset -4px -4px 9px #333333
}

.contact{
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;
}

.contact:active{
    background: #2b2b2b;
    box-shadow: inset 4px 4px 9px #232323, 
                inset -4px -4px 9px #333333
}

.home{
    box-shadow: 1px 1px 7px #232323, 
    -4px -4px 7px #333333;
}

.mode{
    background-image: url("../img/moon_icon.svg"), linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;
}

.list .mode_list {
    background-image: url("../img/moon_icon.svg"), linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  4px 4px 9px #232323, 
                 -4px -4px 9px #333333;    
}

.mode:active{
    background-image: url("../img/moon_icon.svg"), linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow: inset 4px 4px 9px #232323, 
                inset -4px -4px 9px #333333
}

.list .mode_list:active {
    background-image: url("../img/moon_icon.svg"), linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow: inset 4px 4px 9px #232323, 
                inset -4px -4px 9px #333333   
}

.active .menu {
    background: #2b2b2b;
    box-shadow: inset 4px 4px 9px #232323, 
                inset -4px -4px 9px #333333
}

.list a {
    text-align: center;
}

/*
The following is for the header
*/

header{
    box-shadow: 0 12px 5px -5px #333333; 
    background-image: url("../img/background_mobile_dark.png"); 
}

header .header_content .header_content_inner h1{
    color: #c9c9c9;
}

/*
The following content is for the about section
*/

#about {
    background-color: #2b2b2b;
    box-shadow: 0 12px 5px -5px #333333;  
    z-index: 2;
}

#about .about_content {
    color: #c9c9c9;
}

@media only screen and (max-width: 767px) {
    .scroll_down span{
        border-bottom: 2px solid #c9c9c9;
        border-right: 2px solid #c9c9c9;
    }

    .menu span {
        background-color: #fda163;
    }
}

/*
The following content is for the skills sections
*/

#skills {
    box-shadow:  0 12px 5px -5px #333333;
}

#skills .skills_content .front_end ul .computer_icon {
    border-radius: 5px;
    box-shadow:  5px 5px 10px #232323, 
                -5px -5px 10px #333333;
    background-image: url("../img/computer_icon_dark.svg"), linear-gradient(145deg, #272727, #2e2e2e);
    background-size: cover;
    background-position: center;
}

#skills .skills_content .compile ul .server_icon {
    border-radius: 5px;
    box-shadow:  5px 5px 10px #232323, 
                -5px -5px 10px #333333;
    background-image: url("../img/server_icon_dark.svg"), linear-gradient(145deg, #272727, #2e2e2e);
    background-size: cover;
    background-position: center;
}

#skills .skills_content .other ul .cog_icon {
    border-radius: 5px;
    box-shadow:  5px 5px 10px #232323, 
                -5px -5px 10px #333333;
    background: linear-gradient(145deg, #272727, #2e2e2e);
    z-index: -1;
}
#skills .skills_content .other ul .cog_icon .cog_back {
    width: 70px;
    height: 70px;
    z-index: 1;
    position: relative;
    background-image: url("../img/cog_icon_dark.svg");
    background-size: cover;
    background-position: center;
}

/*
The following is for the portfolio section
*/

#portfolio {
    box-shadow:  0 12px 5px -5px #333333;
}

.card {
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  12px 12px 24px #232323, 
                 -12px -12px 24px #333333;
}

#web_pro {
    background-image: url("../img/web_icon.svg"), linear-gradient(145deg, #e49159, #ffac6a);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid #2b2b2b;
    border-width: 10px;
    box-shadow:  7px 7px 14px #232323, 
            -7px -7px 14px #333333,
            inset 9px 9px 18px #cf8451, 
            inset -9px -9px 18px #ffbe75;  
}

.card .read_more {
    border-radius: 10px;
    background: linear-gradient(145deg, #272727, #2e2e2e);
    box-shadow:  5px 5px 10px #232323, 
                 -5px -5px 10px #333333;
}

/* 
The following is for the contact me section
*/

.icon {
    border-radius: 5px;
    box-shadow:  4px 4px 8px #232323, 
                 -4px -4px 8px #333333;
    background-size: cover;
    background-position: center;
}

#twitter {
    background-image: url("../img/twitter_icon_dark.svg"), linear-gradient(145deg, #272727, #2e2e2e);
}

#github {
    background-image: url("../img/github_icon_dark.svg"), linear-gradient(145deg, #272727, #2e2e2e);
}

#mail {
    background-image: url("../img/mail_icon_dark.svg"), linear-gradient(145deg, #272727, #2e2e2e);
}

#twitter:hover {
    background-image: url("../img/twitter_icon_dark.svg"), linear-gradient(145deg, #1a91da, #1facff);
}

#github:hover {
    background-image: url("../img/github_icon_dark.svg"), linear-gradient(145deg, #222222, #292929);
}

#mail:hover {
    background-image: url("../img/mail_icon_dark.svg"), linear-gradient(135deg, #cc5050, #f35f5f)
}

@media only screen and (min-width: 768px){

    .about_me{
        box-shadow: none;
        background: none;
        color:#424243;
    }
    .about_me:hover{
        box-shadow: none;
        background: none;
    }

    .skills{
        box-shadow: none;
        background: none;
        color:#424243;
    }
    .skills:hover{
        box-shadow: none;
        background: none;
    }

    .portfolio{
        box-shadow: none;
        background: none;
        color:#424243;
    }
    .portfolio:hover{
        box-shadow: none;
        background: none;
    }

    .contact{
        box-shadow: none;
        background: none;
        color:#424243;
    }
    .contact:hover{
        box-shadow: none;
        background: none;
    }

    .home_list{
        box-shadow: 1px 1px 7px #5a5c5e, 
        -4px -4px 7px #e7ecf3;
    }

    .mode_list{
        background-image: url("../img/moon_icon.svg"), linear-gradient(145deg, #272727, #2e2e2e);
        box-shadow:  20px 20px 60px #252525, 
                    -20px -20px 60px #313131;
    }
    
    .mode_list:active{
        background-image: url("../img/moon_icon.svg"), linear-gradient(145deg, #272727, #2e2e2e);
        box-shadow: inset 20px 20px 60px #252525, 
                    inset -20px -20px 60px #313131;
    }

    header .header_content .header_content_inner a{
        background: linear-gradient(145deg, #272727, #2e2e2e);
        box-shadow:  6px 6px 12px #262626, 
                     -6px -6px 12px #303030;
    }

    header .scroll_down_desktop .mouse_border {
        border-color: #c9c9c9;
    }

    header .scroll_down_desktop .mouse_wheel {
        border-color: #c9c9c9;
        background-color: #c9c9c9;
    }

    header .scroll_down_desktop .arrow {
        border-color: #c9c9c9;
    }
}